*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quicksand-normal{
    font-family: "Quiucksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.raleway-normal {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .width{
    max-width: 1160px;
    margin: 0 auto;
  }
  .flex{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .orange{
    color: #FEA301;
  }
  .sky-blue{
    color: #01ACFD;
  }
  .main-btn{
    border-radius: 12px ;
    width: 12.31rem;
    height: 3.12rem;
    font-size: 1.25rem;
    background-color: #FEA301;
    border: none;
  }
  .mini-btn{
    background-color: #95B226;
    font-size: 15.34px;
    font-weight: 500;
    position: relative;
    left: 38px;
    bottom: 19.5px;
    border: none;
    width: 10.87rem;
    height: 2.37rem;
    color: #FFFFFF;
    border-radius: 47.93px;
  }
  .footer-text-color{
    color: #FFFFFF;
  }
  body{
    max-width: 1440px;
    margin: auto;
  }
  main{
    background: linear-gradient(to top, #FFA3014D -6%, #FFFFFF 28%);
  }


  .nav-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 6.23%;
    margin: 20px auto;
    align-items: center;
}
.nav-icon-box{
    gap: 11px;
    justify-content: flex-start;
}
.nav-school{
    font-size: 2rem;
    font-weight: bold;
}
.nav-section-titles ul li{
    list-style: none;
    font-weight: bold;
    font-size: 1.25em;
    
}
.nav-section-titles ul{
    gap: 2rem;
}
.color-3{
    color: #05D4DF;
}
.color-4{
    color: #5D58EF;
}
.nav-btn{
    text-align: right;
}
.nav-btn button{
    font-weight: 600;
    font-size: 1.25em;
    color: #FFFFFF;
}

/* banner style */
.banner-container{
  justify-content: space-between;
}
.banner-content{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.banner-content h1{
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 61px;
}
.banner-content p{
  font-size: 1.25rem;
}
.banner-content button{
  background-color: #111111;
  font-size: 1.25rem;
  font-weight: bold;
  color: #FFFFFF;
}



/* curriculam-section */
.curriculam-section{
  background-image: url(../assets/bg.png);
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center;
  padding: 80px 0;
}

.curriculam-container{
display: grid;
grid-template-columns: repeat(1,1fr);
gap: 80px;
}
.curriculam-container h1{
  text-align: center;
  font-size: 46px;
  font-weight: bold;
}

.curriculam-boxes{
  display: grid;
  grid-template-columns: repeat(3 ,1fr);
  gap: 28px;
}
.linear1{
background: linear-gradient(to bottom, #64C8FF66 -6%, #FFFFFF 28%);
}

.linear2{
  background: linear-gradient(to bottom, #FFF4DC -6%, #FFFFFF 28%);
}
.linear3{
  background: linear-gradient(to bottom, #EEE1FF -6%, #FFFFFF 28%);

  
}
.curriculam-box{
  flex-direction: column;
  gap: 33px;
  border-radius: 12.5px;
  box-shadow: 0 0 19.16px 0.64px #0000000D ;
}
.curriculam-box h3{
  font-size: 24.52px;
  font-weight: bold;
}
.curriculam-box p{
  font-size: 15.09px;
  font-weight: medium;
  text-align: center;
}
.curriculam-box span{
  font-weight: bold;
  font-size: 1rem;
  color: #64C8FF;
}
.curriculam-boxes .curriculam-box:nth-child(2) span{
  color: #F0AA00;
  font-weight: bold;
  font-size: 1rem;
}
.curriculam-boxes .curriculam-box:nth-child(3) span{
  color: #8700FF;
  font-weight: bold;
  font-size: 1rem;
}

.less-greater .less, .greater{

  background-color: #FEA301;
  margin-right: 10px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.less span, .greater span{
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
}